.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
}

.input,
.select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  width: 15em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button, .buttonCancel {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  width: 5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button{
    background-color: #6389A4;
}

.buttonCancel{
    background-color: #b96b65;
}

.button:hover {
  background-color: #5b86a5;
}

.buttonCancel{
    background-color: #c06761;
}

.addButton {
  margin-left: 0.5em;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #5ba5a1;
  font-weight: bold;
  width: 4em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.siblingsList {
  list-style-type: none;
  padding: 0;
}

.sibling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 1rem;
  border-radius: 0.5em;
  color: black;
}

.siblingTitle,
.siblingX {
  margin-top: 0px;
  margin-bottom: 0px;
}

.siblingX {
  color: red;
  font-weight: 700;
}

.siblingX:hover {
  cursor: pointer;
}
