.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputLabel {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.inputField {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
}

.submitBtn {
  background-color: #3b519b;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1em;
  width: 8em;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.errorMsg {
  color: red;
  margin-bottom: 0px;
}
