.table_wrapper {
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 35em;
  border-collapse: collapse;
}

.left {
  padding: 8px;
  text-align: left;
  border:  1px solid #ddd;
}

.center {
  padding: 8px;
  text-align: center;
  border:  1px solid #ddd;
}

.table th {
  background-color: #3b519b;
}
