.table_wrapper {
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 40em;
  border-collapse: collapse;
  align-self: flex-start;
}

.left {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.center {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:8px
}

.icon{
    width: 1em;
}

.icon:hover{
    cursor: pointer;
}

.table th {
  background-color: #3b519b;
}